@import "../node_modules/bootswatch/dist/darkly/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/darkly/bootswatch";

body {
  padding-top: 3em;
}

.card-title {
  margin-bottom: 0;
  h4 {
    margin-bottom: 0;
  }
}

label {
  font-weight: bolder;
}
