@import "../node_modules/bootswatch/dist/darkly/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/darkly/bootswatch";

body {
  padding-top: 3em;
  overflow-y: scroll;
}

.card-title {
  margin-bottom: 0;
  h4 {
    margin-bottom: 0;
  }
}

label {
  font-weight: bolder;
}

.list-group-item {
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
}
